# Define ssh variables
# Be sure to define your ssh user and your private key path
[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
ansible_private_key_file=/vagrant/lab/test_rsa
ansible_user=root

# kubernetes masters
[kube-masters]

# kubernetes workers
[kube-workers]