apiVersion: v1
kind: Secret
metadata:
  name: {{ mysql_cluster_name }}-secret
type: Opaque
# use data if password is base64 encoded
#data:
#  ROOT_PASSWORD: {{ mysql_root_password }}
stringData:
  ROOT_PASSWORD: {{ mysql_root_password }}
---
apiVersion: mysql.presslabs.org/v1alpha1
kind: MysqlCluster
metadata:
  name: {{ mysql_cluster_name }}
spec:
  replicas: {{ mysql_replicas }}
  secretName: {{ mysql_cluster_name }}-secret