version: '2'
services:
  dokuwiki:
    image: 'bitnami/dokuwiki:latest'
    labels:
      kompose.service.type: nodeport
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - 'dokuwiki_data:/bitnami'
volumes:
  dokuwiki_data:
  {% if storage_type == 'nfs' %}
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ nfs_address }},soft,nolock,rw"
      device: ":{{ nfs_root_path }}/dokuwiki"
  {% elif storage_type == 'local' %}
    driver: local
  {% endif %}