version: '3.1'
networks:
  appnet:
    external: true
  wekan:
    driver: bridge

services:
  traefik:
    image: traefik:1.6.4
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"
    networks:
      - appnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: --docker --docker.swarmMode --docker.domain=traefik --docker.watch --api --ping
    # --acme --acme.email='test@test.com' --acme.storage='acme.json' --acme.entrypoint='https'
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager